
/* -------Login Layer Module ------- */

#loginModule {
    display: none;
}
#loginModule > .loginBackground {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 50;
}
.loginLayer {
    position: fixed;
    top: 0;
    /* transform: translate(-50%, -50%); */
    background-color: #fff;
    z-index: 51;
    width: 100%; height: 320px;
    padding: 25px 15px;

}
.loginLayer > div:nth-of-type(1), .loginLayer > div:nth-of-type(2) {
    width: 100%; height: 60px;
    position: relative;
}
#loginId, #loginPwd {
    width: 100%; height: 43px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    outline: none;
    border: 0;
    overflow: hidden;
    padding: 0 10px;
}
.loginIdBox, .loginPwdBox {
    width: 100%; height: 45px;
    border: 1px solid #aaa;
    overflow: hidden;
}
.inputLabel {
    position: absolute;
    top: -9px; left: 50%;
    transform: translate(-50%, 0);
    width: 130px; height: 18px;
    background-color: #fff;
    line-height: 18px;
    font-size: 16px;
    color: #aaa;
    text-align: center;
    z-index: 60;
}
.loginLayer > div:nth-of-type(3), .loginLayer > div:nth-of-type(5) {
    margin: 0 0 7px 0;
    width: 100%; height: 25px;
    overflow: hidden;
}
.loginLayer > div:nth-of-type(3) > div {
    height: 25px;
    line-height: 23px;
    font-size: 12px;
    color: black;
    float: left;
}
.displayNone { display: none; }
.rmbIdChkBox, .chkPlcBox { clear: both; }
.rmbIdChkBox > div:first-of-type {
    width: 25px; height: 25px;
    border: 1px solid #888;
    background-color: white;
    cursor: pointer;
}
.rmbIdChkBox > div:last-of-type {
    width: 90px; height: 25px;
    margin-left: 10px;
    cursor: pointer;
}
.loginLayer hr, .joinLayer hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 15px 0;
}
.loginLayer > div:nth-of-type(5) > div {
    height: 25px;
    line-height: 23px;
    font-size: 14px;
    margin: 0 5px;
}
.loginLayer > div:nth-of-type(5) > div:nth-of-type(1) { float: left; }
.loginLayer > div:nth-of-type(5) > div:nth-of-type(2), .loginLayer > div:nth-of-type(5) > div:nth-of-type(3) { float: right; }
.loginLayer > div:nth-of-type(5) > div > span { cursor: pointer; }
.loginLayer > div:nth-of-type(5) > div > span:hover { color: mediumturquoise; text-decoration: underline; }

/* -------Join Layer Module------- */

#joinModule {
    display: none;
}
#joinModule > .joinBackground {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 50;
}
.joinLayer {
    position: fixed;
    top: 0;
    /* transform: translate(-50%, -50%); */
    background-color: #fff;
    z-index: 51;
    width: 100%; height: 460px;
    padding: 25px 15px;
}
.joinLayer > div:nth-of-type(1), .joinLayer > div:nth-of-type(2), .joinLayer > div:nth-of-type(3), .joinLayer > div:nth-of-type(4) {
    width: 100%; height: 60px;
    position: relative;
}
#joinId, #joinPwd, #joinPwdChk, #joinEmail {
    width: 100%; height: 43px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    outline: none;
    border: 0;
    overflow: hidden;
    padding: 0 10px;
}
.joinIdBox, .joinPwdBox, .joinPwdChkBox, .joinEmailBox {
    width: 100%; height: 45px;
    border: 1px solid #aaa;
    overflow: hidden;
}
::-webkit-input-placeholder { color: #aaa; font-size: 16px; } /* Edge */
:-ms-input-placeholder { color: #aaa; font-size: 16px; } /* Internet Explorer 10-11 */
::placeholder { color: #aaa; font-size: 16px; }
.loginLayer button, .joinLayer button {
    background-color: black;
    width: 100%; height: 45px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    border: 0;
    outline: none;
    cursor: pointer;
}
.joinLayer > div:nth-of-type(5), .joinLayer > div:nth-of-type(6) {
    margin: 0 0 7px 0;
    width: 100%; height: 25px;
    overflow: hidden;
}
#agreePolicy, #agreeEmail {
    margin-top: 1px;
    background-color: #111;
    width: 23px; height: 23px;
}
.joinLayer > div:nth-of-type(5) > div, .joinLayer > div:nth-of-type(6) > div {
    height: 25px;
    line-height: 23px;
    font-size: 12px;
    color: black;
    float: left;
}
.joinLayer > div:nth-of-type(5) > div:nth-of-type(1), .joinLayer > div:nth-of-type(6) > div:nth-of-type(1) {
    width: 25px;
    border: 1px solid #444;
    background-color: white;
    cursor: pointer;
}
.joinLayer > div:nth-of-type(5) > div:nth-of-type(2), .joinLayer > div:nth-of-type(6) > div:nth-of-type(2) {
    width: 220px;
    margin-left: 10px;
    cursor: pointer;
}
.joinLayer > div:nth-of-type(5) > div:nth-of-type(2) > a { cursor: pointer; font-size: 12px; }
.joinLayer > div:nth-of-type(5) > div:nth-of-type(2) > a:hover, .joinLoginBtn:hover { color: mediumturquoise; text-decoration: underline; }
.joinLayer > div:nth-of-type(8) > span { font-size: 14px; color: #444; }
.joinLoginBtn { cursor: pointer; font-size: 14px; color: #444; }

/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */

@media screen and (min-width: 576px) {
    .loginLayer, .joinLayer {
        top: 70px;
        width: 70%;
        margin: 0 50%;
        transform: translate(-50%, 0);
    }
    
}

/* 태블릿 디바이스 (가로 해상도가 768px 보다 큰 화면에 적용) */
@media screen and (min-width: 768px) {
    .loginLayer, .joinLayer {
        top: 150px;
        width: 450px;
        margin: 0 50%;
        transform: translate(-50%, 0);
    }
}
/* 테스크탑 (가로 해상도가 992px 보다 큰 화면에 적용) */
@media screen and (min-width: 992px) {
  

}

/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용) */
@media screen and (min-width: 1225px) {
    
}