header {
    background-image: url('../img/MAINIMAGE.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid black;
}

/* -------Navigation------- */
.header_wrap {
    display: none;
    height: 650px;
}
.header_wrap > .logo {
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
}
.header_wrap_m {
    width: 100%; height: 130px;
    position: relative;
}
.header_top {
    overflow: hidden;
    width: 100%; height: 50px;
}
.header_wrap_m > .header_top > .logo_m {
    width: 40px;
    height: 40px;
    margin: 5px;
    float: left;
}
.header_wrap_m > .header_top > #menuBtn {
    width: 40px; height: 40px;
    margin: 5px;
    line-height: 40px;
    float: right;
    text-align: center;
    font-size: 34px;
    color: #333;
    cursor: pointer;
}
.clearFix {
    clear: both;
}
/* mobile navigation */
#navigation_m {
    overflow: hidden;
    display: none;
    height: 250px;
    background-color: #444;
}
.header_gnb_m { width: 100%; }
.header_gnb_m > li {
    width: 100%;
    text-align: center;
}
.header_gnb_m > li > a {
    width: 94%; height: 50px;
    margin: 0 3%;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    color: #fff;
    line-height: 50px;
}
.header_gnb_m > li:first-of-type > a { border-top: 1px solid #fff; }
.header_gnb_m > li:last-of-type > a { border-bottom: 0; }
/* navigation */
#navigation {
    position: absolute;
    height: 60px;
    top: 5px; right: 5px;
}
.header_gnb {
    overflow: hidden;   
}
.header_gnb > li {
    width: auto;
    float: left;
    margin: 0 5px;
}
.header_gnb > li > a {
    width: 100%; height: 60px;
    padding: 0 10px;
    display: block;
    font-size: 18px;
    color: #000;
    line-height: 60px;
}

.header_gnb > li > a:hover {
    border-bottom: 2px solid #000;
}
  
/* -------Main Text(test)------- */

.Main_text {
    width: 100%; height: 200px;
}
.Main_text {
    line-height: 200px;
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    color: #fff;
}

/* -------Search Main Mobile Page------- */
#search_window_m {
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px 5px;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 15;
}
.region_sel_m, .festival_sel_m, .date_m, .keyword_m { width: 100%; position: relative; }
.region_label_m, .festival_label_m, .date_label_m, .keyword_label_m {
    position: absolute;
    top: -9px; left: 50%;
    transform: translate(-50%, 0);
    width: 130px; height: 18px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-color: white;
    color: #aaa;
    z-index: 10;
}
.date_label_m { background-color: rgba(0, 0, 0, 0); }
.date_label_m > span {
    display: block;
    position: absolute;
    height: 100%;
    background-color: white;
}
.date_label_m > span:nth-of-type(1) { width: 15px; top: 0; right: 115px; }
.date_label_m > span:nth-of-type(2) { width: 100px; top: 0; left: 15px; } .date_label_m > span:nth-of-type(3) { width: 15px; top: 0; left: 115px; }
.region_box_m, .festival_box_m, .keyword_box_m, .date_box_m, .date_box_end_m {
    position: relative;
    overflow: hidden;
    width: 100%; height: 44px;
    margin-top: 17px;
    padding: 0 10px;
    border: 1px solid #aaa;
    line-height: 42px;
    cursor: pointer;
}
.date_box_m, .date_box_end_m {
    margin-top: 0;
    width: 50%;
    float: left;
}
.date_box_m { border-right: 0; }
.date_box_end_m {
    color: #aaa;
    border-left: 1px dotted #ddd;
    cursor: auto;
}
.date_box_m > span {
    color: #aaa;
}
.date_boxs_m {
    overflow: hidden;
    width: 100%;
    margin-top: 17px;
}
.region_box_m { margin-top: 10px; }
.region_box_m > div, .festival_box_m > div, .date_box_m > div, .date_box_end_m > div, .keyword_box_m > div {
    position: absolute;
    top: 11px; right: 10px;
    width: 20px; height: 20px;
    font-size: 18px;
    line-height: 20px;
}
.arrowUpDwon { display: block; }
.arrowLeftRight { display: none; }
.region_list_box_m, .festival_list_box_m, .date_calendar_m {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    /* padding: 5px; */
    background-color: #fff;
    z-index: 12;
}
.region_list_box_m > div, .festival_list_box_m > div {
    overflow: hidden;
    position: relative;
    width: 100%; height: 40px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.list_Title {
    width: 100%; height: 20px !important;
    text-align: center;
    line-height: 20px;
    color: #fff;
    /* border: 1px solid black; */
    background-color: #000;
    cursor: auto !important; 
}
.region_list_box_m > div:last-of-type, .festival_list_box_m > div:last-of-type, .date_calendar_m > div:last-of-type {
    width: 100%; height: 35px;
    background-color: #666;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border: 0;
    cursor: pointer;
}
.region_list_box_m > div > div:first-of-type, .festival_list_box_m > div > div:first-of-type {
    position: absolute;
    top: 10px; left: 15px;
    width: 20px; height: 20px;
    border: 1px solid #222;
    background-color: white;
    
}
.region_list_box_m > div > div:last-of-type, .festival_list_box_m > div > div:last-of-type {
    width: 100%; height: 39px;
    padding-left: 45px;
    font-size: 14px;
    line-height: 37px;
}
#keyword_m {
    width: 98%; height: 40px;
    margin: 0 1%;
    line-height: 38px;
    font-size: 18px;
    border: 0;
    outline: 0;
}
.search_box_m {
    width: 100%; height: 44px;
    margin-top: 10px;
}
#serch_btn_m {
    width: 100%; height: 44px;
    background-color: black;
    color: white;
    line-height: 42px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.chkBoxs { display: none; }
.ui-datepicker{ 
    width: 100%;
    margin: 0;
    font-size: 16px;
}
.ui-datepicker select.ui-datepicker-month{ width:30%; font-size: 14px; }
.ui-datepicker select.ui-datepicker-year{ width:40%; font-size: 14px; }
.ui-datepicket td { text-align: center; }
.closeBox {
    display: none;
    position: fixed;
    top: 0; right: 0;
    bottom: 100%; left: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: 15;
}
/* -------Search Main Page------- */
#search_window {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 380px; height: 350px;
    bottom: 100px; left: 85px;
    padding: 10px;
}
/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */

@media (min-width: 576px) {
    header { background-size: 800px; }
    .header_wrap_m { height: 300px; }
    .header_gnb_m { width: 220px; float: right; margin-right: 20px; }
    #search_window_m {
        top: -240px;
        width: 300px;
        margin-left: 10px;
        border: 1px solid black;
    }
    .region_list_box_m, .festival_list_box_m, .date_calendar_m {
        position: absolute;
        top: -18px; right: -229px;
        width: 220px;
        margin: 0;
        border: 1px solid #000;
    }
    .festival_list_box_m { top: -79px; }
    .date_calendar_m { top: -140px; }
    .arrowUpDwon { display: none; }
    .arrowLeftRight { display: block; }
    .closeBox {
        bottom: 0; left: 0;
    }
}

/* 태블릿 디바이스 (가로 해상도가 768px 보다 큰 화면에 적용) */
@media (min-width: 768px) {
    header { background-size: 1300px; }
    .header_wrap_m { display: none; }
    .header_wrap {
        display: block;
    }
    #search_window_m {
        top: -400px;
        width: 350px;
        margin-left: 13%;
        border: 1px solid #000;
    }
}

/* 테스크탑 (가로 해상도가 992px 보다 큰 화면에 적용) */
@media (min-width: 992px) {
  

}

/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용) */
@media (min-width: 1200px) {
    header { background-size: 105%; }
    .header_wrap_m {
        margin: 0 auto;
        width: 1200px;
    }
}