header {
    padding-top: 10px;
    background-image: url('../img/Test_Main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2000px;
    width: 100%; height: 900px;
    overflow: hidden;
    position: relative;
}

/* -------Navigation------- */

#nav {
    width: 100%; height: 50px;
}
#nav ul {
    width: 100%; height: 50px;
    overflow: hidden;
    padding: 0 15px;
}
#nav .home_btn { float: left; }
#nav li {
    margin: 0 10px;
    line-height: 50px;
    float: right;
}
#nav a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* -------Main Text(test)------- */

.Main_text {
    width: 100%; height: 200px;
}
.Main_text {
    line-height: 200px;
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    color: #fff;
}

/* -------Search Main Page------- */

#search_window {
    background-color: rgba(255,255,255,0.7);
    width: 380px; height: 400px;
    position: absolute;
    left: 85px; bottom: 150px;
    padding: 15px 0;
    border-radius: 4px;
}
.keyword_main, .date, .region_sel, .festival_sel {
    width: 100%; height: 75px;
}
.keyword_main .keyword_main_label, .date .date_label, .region_sel .region_sel_label, .festival_sel .festival_sel_label {
    width: 88%; height: 25px;
    margin: 0 6%;
}
.keyword_main .keyword_main_label span,  .date .date_label span, .region_sel .region_sel_label span, .festival_sel .festival_sel_label span {
    width: 100%; height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #888;
}
.keyword_main .keyword_main_input, .date .date_input, .region_sel .region_sel_box, .festival_sel .festival_sel_box, .search_btn {
    width: 92%; height: 45px;
    margin: 0 4%;
}
.keyword_main .keyword_main_input input, .region_sel .region_sel_box select, .festival_sel .festival_sel_box select {
    width: 100%; height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 10px;
}
.date .date_input div, .search_btn div {
    width: 50%;
    float: left;
}
.date .date_input input {
    width: 100%; height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    border: 1px solid #eee;
    padding: 0 10px;
}
.date .date_input #date {
    border-radius: 4px 0 0 4px;
    border-right: 0;
}
.date .date_input #date_end {
    border-radius: 0 4px 4px 0;
}
.search_btn button, .loginLayer button, .joinLayer button {
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.search_btn div:first-child > button {
    background-color: steelblue;
    width: 120px; height: 35px;
    margin-top: 30px;
    color: #eee;
}
.search_btn div:last-child > button {
    background-color: mediumturquoise;
    width: 100%; height: 45px;
    margin-top: 20px;
    color: #fff;
}

/* -------Login Layer Module ------- */

#loginModule {
    display: none;
}
#loginModule > .loginBackground {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 7;
}
.loginLayer {
    position: fixed;
    top: 45%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    z-index: 8;
    width: 470px; height: 320px;
    padding: 25px 15px;

}
/* 주석 사유: 엄청 없어보임 */
/* .layerClose {
    position: fixed;
    top: -18px; right: -18px;
    border-radius: 20px;
    background-color: #ddd; 
    z-index: 10;
    width: 40px; height: 40px;
    text-align: center;
}
.layerClose > span {
    cursor: pointer;
    font-size: 34px;
    line-height: 38px;
    color: #999;
} */
.loginLayer > div:nth-of-type(1), .loginLayer > div:nth-of-type(2) {
    width: 100%; height: 60px;
    position: relative;
}
#loginId, #loginPwd {
    width: 100%; height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    outline: none;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 10px;
}
.loginLabel {
    display: none;
    overflow: hidden;
    position: absolute;
    left: -5px; top: -6px;
    padding: 0 5px; height: 16px;
    background-color: #fff;
    border-radius: 3px;
    line-height: 16px;
    font-size: 9px;
    color: #555;
    text-align: center;
    z-index: 11;
}
.loginLayer button {
    background-color: mediumturquoise;
    width: 100%; height: 45px;
    margin-top: 10px;
    color: #fff;
    outline: none;
}
.loginLayer > div:nth-of-type(3), .loginLayer > div:nth-of-type(5) {
    margin: 0 0 7px 5px;
    width: 100%; height: 25px;
    overflow: hidden;
}
.loginLayer > div:nth-of-type(3) > div {
    height: 25px;
    line-height: 23px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    float: left;
}
.loginLayer > div:nth-of-type(3) > div:nth-of-type(1) { width: 25px; }
.loginLayer > div:nth-of-type(3) > div:nth-of-type(2) { width: 150px; margin-left: 10px; }
#logRmbId {
    margin-top: 1px;
    background-color: #eee;
    width: 23px; height: 23px;
}
.loginLayer hr, .joinLayer hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}
.loginLayer > div:nth-of-type(5) > div {
    height: 25px;
    line-height: 23px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    margin: 0 15px;
}
.loginLayer > div:nth-of-type(5) > div:nth-of-type(1) { float: left; }
.loginLayer > div:nth-of-type(5) > div:nth-of-type(2), .loginLayer > div:nth-of-type(5) > div:nth-of-type(3) { float: right; }
.loginLayer > div:nth-of-type(5) > div > span { cursor: pointer; }
.loginLayer > div:nth-of-type(5) > div > span:hover { color: mediumturquoise; text-decoration: underline; }

/* -------Join Layer Module------- */

#joinModule {
    display: none;
}
#joinModule > .joinBackground {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 7;
}
.joinLayer {
    position: fixed;
    top: 45%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    z-index: 8;
    width: 470px; height: 520px;
    padding: 25px 15px;
}
.joinLayer > div:nth-of-type(1), .joinLayer > div:nth-of-type(2), .joinLayer > div:nth-of-type(3), .joinLayer > div:nth-of-type(4) {
    width: 100%; height: 60px;
    position: relative;
}
#joinId, #joinPwd, #joinPwdChk, #joinEmail {
    width: 100%; height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    outline: none;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 10px;
}
.joinLabel {
    display: none;
    overflow: hidden;
    position: absolute;
    left: -5px; top: -6px;
    padding: 0 5px; height: 16px;
    background-color: #fff;
    border-radius: 3px;
    line-height: 16px;
    font-size: 9px;
    color: #555;
    text-align: center;
    z-index: 11;
}
.joinLayer button {
    background-color: mediumturquoise;
    width: 100%; height: 45px;
    margin-top: 10px;
    color: #fff;
    outline: none;
}
.joinLayer > div:nth-of-type(5), .joinLayer > div:nth-of-type(6) {
    margin: 0 0 7px 5px;
    width: 100%; height: 25px;
    overflow: hidden;
}
#agreePolicy, #agreeEmail {
    margin-top: 1px;
    background-color: #111;
    width: 23px; height: 23px;
}
.joinLayer > div:nth-of-type(5) > div, .joinLayer > div:nth-of-type(6) > div {
    height: 25px;
    line-height: 23px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    float: left;
}
.joinLayer > div:nth-of-type(5) > div:nth-of-type(1), .joinLayer > div:nth-of-type(6) > div:nth-of-type(1) { width: 25px; }
.joinLayer > div:nth-of-type(5) > div:nth-of-type(2), .joinLayer > div:nth-of-type(6) > div:nth-of-type(2) { width: 250px; margin-left: 10px; }
.joinLayer > div:nth-of-type(5) > div:nth-of-type(2) > span { cursor: pointer; font-size: 12px; }
.joinLayer > div:nth-of-type(5) > div:nth-of-type(2) > span:hover { color: mediumturquoise; text-decoration: underline; }