a:hover { 
    text-decoration: underline;
    color: skyblue;
}

.pop-layer {
    display: none;
    position: absolute; /*body기준 위치지정*/
    /* 화면 크기  */
    width:700px;
    height:500px;
    background-color: #fff;
    z-index: 10; /*전체 화면 맨 앞으로.*/
    border: 3px solid #555;
}

.back {
    position:fixed;  
    z-index:9; /*뒷 배경화면*/
    background-color:#000;  
    display:none;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
} 

