/* main */
#main {
    margin: 0 auto;
    width: 100%;
    min-height: 1500px;
}

/* main top */
.topImg {
    width: 100%;
    height: 590px;
    margin: 0 auto;
    border-bottom: 1px solid #888;
    overflow: hidden;
    position: relative;
}

/* main like button */
.likeBtn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 90px;
    height: 40px;
    background-color: white;
    border: 1px solid #888;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
}

.likeBtn:active {
    background-color: #eee;
}

.likeIcon {
    float: left;
    margin-left: 20px;
}

.likeName {
    float: right;
    margin-right: 20px;
}

/* content-wrap */
#content_wrap {
    width: 1200px;
    min-height: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

/* article */
#article {
    width: 900px;
    min-height: 1000px;
    float: left;
    margin-top: 20px;
}

/* section common */
.section {
    background-color: #fff;
    border: 1px solid #999;
    padding: 30px;
    margin-bottom: 30px;
}

.section > h2 {
    margin-bottom: 20px;
}

/* section festival info */
.festival {
    padding-bottom: 0;
}

.festival > div.introduce {
    margin-bottom: 20px;
} 

.section .keywordlist {
    overflow: hidden;
    margin-bottom: 40px;
}

.section .keywordlist > li {
    float: left;
    background-color: salmon;
    padding: 4px 15px;
    margin-right: 10px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
}

.info {
    margin-bottom: 60px;
}

.info > table {
    width: 100%;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-collapse: collapse;
}

.info th {
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.info td {
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.sns {
    overflow: hidden;
    border-top: 1px solid #ccc;
    margin: 0 -30px;

}

.snsbox {
    width: 50%;
}

.twitter {
    float: left;
}

.facebook {
    float: right;
}

.snsbox a {
    display: block;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.snsbox a:hover {
    background-color: #eee;
}

.facebook a {
    border-left: 1px solid #ccc;
}

.facebook a:hover {
    background-color: #eee;
}

.sns span {
    color: #888;
    font-size: 30px;
}

/* section reviews */
.reviewbox {
    width: 100%;
}

.profile {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.profile_img {
    width: 50px;
    height: 50px;
    float: left;
}

.profile_img > span {
    font-size: 40px;
    color: #888;
    line-height: 50px;
}

.name_date {
    height: 50px;
    float: left;
    margin-left: 10px;
}

.reviewtext {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.reviewwrite > h3 {
    margin-bottom: 30px;
}

.reviewwrite > textarea {
    width: 50%;
    padding: 15px;
    font-size: 16px;
    color: #888;
    border-radius: 5px;
    display: block;
    margin-bottom: 15px;
}

.reviewwrite > button {
    width: 198px;
    height: 40px;
    background-color: #555;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* section visitor photos */

.photos > .share {
    margin-bottom: 30px;
    font-weight: bold;
}

.instabox {
    width: 100%;
    height: 414px;
    background-color: yellow;
}

.instabox li {
    width: 202px;
    height: 202px;
    background-color: sandybrown;
    float: left;
    margin-right: 10px;
}

/* aside */
#aside {
    width: 250px;
    min-height: 1000px;
    background-color: #fff;
    float: right;
    margin-top: 20px;
}

/* category */
.category {
    width: 250px;
    height: 140px;
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #999;
}

.category > h3 {
    width: 250px;
    margin: -25px;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.category > .select {
    padding-top: 40px;
}

.select > select {
    width: 198px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    padding-left: 20px;
    color: #555;
    font-size: 16px;
}

.select > select > option {
    height: 100px;
}