@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1225px) {}

@media screen and (max-width: 576px) {
    .imgList .col-sm-3{
        margin-bottom: 20px;
    }

    .imgList2{
        margin-bottom: 20px;
    }
}



#fCheck{
    width: 300px;
    height: 100px;
    position: fixed;
    background-color: #555;
    right: 30px;
    bottom: 30px;
    z-index: 100;
    text-align:center;
}

#fCheck p{
    color: white;
    font-size: 20px;
    text-align: center;
}

#fCheck button{
    width: 20%;
    margin: 0 auto;
}




.container{
    margin-bottom: 30px;
    /* border: 1px solid gray; */
}

.RelatedF, .photoDiv, .infoDiv{
    border: 1px solid gray;
}

h2{
    margin-top: 10px;
}

.mainImg{
    padding-left:0 ;
    padding-right:0 ;

}

.mainImg img{
    width: 100%;
}

#subtitleDiv{
    margin-bottom: 20px;
}

#keywordUl{
    margin-bottom: 40px;
}

#keywordUl ul li{
    float: left;
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    margin-right: 5px;
    cursor: pointer;
}

#keywordUl ul li a{
    text-decoration: none;
    color: white;
}

.table tr:last-child{
    border-bottom: 1px solid #dee2e6;
}

#snsDiv{
    height: 60px;
    margin-bottom: 20px;
}

.snsbox:first-child{
    border-right: 1px solid gray;
}


.snsbox a{
    line-height: 60px;
    color: #555;
    text-align: center;
    display: block;
    font-size: 30px;
}

.snsbox a:hover {
    background-color: #eee;
}


.imgList .col-sm-3 img{
    width: 100%;
    height: 100%;
    transition: transform .5s;
    cursor: pointer;
}


.modal-content{
    height: 100%;
}

.modal > div{
    height: 90%;
}

.modal-content  img{
    width: 100%!important;
    height: 100%!important; 
    vertical-align: middle;
}

.imgList .col-sm-3 img:hover{
    transform:scale(1.1);
    transition: transform .5s; 
}

.imgList .col-sm-3{
    overflow: hidden;
}

.imgList:first-child{
    margin-top: 30px;
    margin-bottom: 20px;
}

.imgList:last-child{
    margin-bottom: 30px;
}


.imgDiv img{
    width: 100%;
    height: 100%;
    transition: transform .5s;
}

.imgDiv img:hover{
    transform:scale(1.1);
    transition: transform .5s; 
}

.imgList2 div:first-child{
    overflow: hidden;
}



.rfestival {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    margin-bottom: 1px solid #555;
}

.rfestival a{
    color: white;
}

.rfestival, .rfestival_text{
    background-color: gray;
    color: white;
    padding: 5px;
}

.RelatedDiv{
    margin-top: 30px;
    margin-bottom: 30px;
}

