#mainContainer{
    border: 1px solid black;
    /* max-width: none!important; */
    /* width: 1200px; */
}

#photoList{
    width: 100%;
    height: 414px;
    border: 7px dashed gray;
    margin: 20px 0;
    position: relative;
}

#photoList div{
    width: 25%;
    height: 200px;
    padding: 10px;
    position: relative;
    float: left;
    cursor: pointer;
}

#photoList div:first-child img{
    border: 5px solid #ffc107;
}

#photoList span{
    display:table; 
    margin-left:auto; 
    margin-right:auto;
    font-size: 80px;
    margin-top: 30px;

}

#photoList div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#image div{
    width: 300px;
    height: 200px;
}

#image div img{
    width: 100%;
    height: 100%;
}

#keywordDiv{
    margin-bottom: 0!important;
}

#seasonDiv{
    padding: 0 15px;
}

#kindsDiv{
    padding: 0 15px;
}

#exampleInputInfo{
    resize: none;
}

#keywordsDiv{
    border-bottom: 1px solid grey;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#btnDiv{
    text-align: center;
}

#startDate, #endDate{
    width: 95%;
}

.fa-calendar-alt{
    line-height: 94px;
    font-size: 40px;
    cursor: pointer;
}

#keywordInput{
    margin-right: 2px;
}

.keywordList{
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 10px;
}

.keywordList:hover{
    cursor: pointer;
}

.btnC{
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}





