*{font-family: 'Noto Sans KR', sans-serif;}

.coldetailDiv{
    height: 2.4em;
    line-height: 2.4em;
    margin: 5px 0;   
}

.mainKeywordRow{
    background-color: cornsilk;
    border-radius: 10px;
    border: 2px solid darksalmon;
}

.coldetailDiv{
    left: 30px;
}

.coldetailDiv span{
    background-color: darksalmon;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#detailSearchBtn{
    margin-left: 5px;
    padding: 3px;
}




#mainContainer{
    /* border:1px solid black; */
    height: auto;
}

#firstBox{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.subBox:last-child{
    margin: auto;
}

.selectBox:first-child{
   width: 80%;
   height: 40px;
}

.selectBox:last-child{
    margin-left: 2px;
    width: 18%;
 }

#selectBtn{
    width: 100%;
}


#selectBtn:hover{
    cursor: pointer;
}

.searchBox{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.SubDateBox{
    width: 50%;
    cursor: pointer;
}

.dateInput{
    text-overflow: ellipsis;
    cursor: pointer;
}

.toggleBox{
    margin-top: 10px;
}

.subToggleBox > label{
    cursor: pointer;
}

.subToggleBox{
    margin-left: 20px;
}


#toggleMsg > span{
    float: right;
}

.subSeasonBox > label{
    cursor: pointer;
    width: 32px;
    height: 24px;
    
    
}

.sortBox{
    margin-bottom: 10px;
}

.subSortBox > label{
    cursor: pointer;
    width: 50px;
    height: 24px;
    
}

.sortToggleBox{
    margin-bottom: 10px;
}

.sortToggleBox > label{
    cursor: pointer;
}

.mapBox{
    width: 90%;
    /* height: 50%; */
    height: 300px;
    margin: auto;
}

.mapBtn{
    height: 100%;
    padding: 10px;
}

.mapSub{
    background-color: cornsilk;
    border: 3px solid darksalmon; 
    text-align: center;
    line-height: 2.4em;
    height: 2.4em;
    border-radius: 10px;
}

.mapBtn img{
    width: 100%;
    height: 80%;
    cursor: pointer;
    border: 3px solid darksalmon; 
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}


.keywordBox{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;

}

.keywordSelectBox:first-child{
    width: 80%;
    height: 40px;
}
.keywordSelectBox:last-child{
    margin-left: 2px;
    width: 18%;
}

#keywordBtn{
    width: 100%;
}

.keywords{
    padding-left: 15px;
    padding-right: 15px;
}

.keywordList{
    background-color: cornsilk;
    border: 2px solid darksalmon;
    border-radius: 5px;
    padding:  0 15px;
    margin: 5px 5px;
    cursor: pointer;
}

#toggleMsgSpan{
    box-sizing: border-box;
    border: 2px solid darksalmon;
    background-color: antiquewhite;
    padding: 0 5px;
    border-radius: 5px;
}

.dateImage span{
    background-color: white;
}

.custom-range{
    background-color: white;
}

.rengeDiv p{
    text-align: center;
}

/* //첫번쨰Div */

#secondDiv{
    /* border: 1px solid green; */
}

.swiper-container {
    width: 100%;
    height: 450px;
    
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; 
  }

  .swiper-slide img{
      width: 100%;
      height: 100%;
      cursor: pointer;
  }

  .likeStar{
      color: orange;
  }

  /* //두번쨰Div */

  #thirdDiv{
      /* border: 1px solid green; */
  }

  .thumbnail{
      /* border: 1px solid blue; */
      border-bottom: 1px solid black;
  }

  .thumbnail a img{
      width: 100%;
      height: 250px;
  }

  .caption p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 2.4em;

    /* margin-bottom: 0; */
  }

  .photoRow{
      margin-bottom: 50px;
  }

  .goDetail:hover{
    text-decoration: none;
    color: black;
  }

  .moreDiv{
      text-align: center;
  }









