html,body{ margin:0; padding:0; height:100%; width:100%; cursor: default; font-family: 'Do Hyeon', sans-serif;}
#wrap{
    overflow: hidden;
    height: 100%;
}

#mainContainer{
    height: 100%;
}
/* nav */
nav img{
    width: 40px;
    height: 40px;
}

.navbar-brand{
    padding: 0;
    margin-left: 10px;
}

.mainNav{
    padding: 0;
    box-sizing: border-box;
    height: 46px;
}

.mainNav i{
    color: red;
    font-size: 25px;
    margin: 5px;
    padding: 5px; 
}

#titleSpan{
    color: red;
    margin-right: 10px;
}

.mainNav form{
    margin-right: 10px;
}

.iconBorder{
    position: relative;
}

#alarm{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellow;
    top: -10px;
    right: 5px;
}
/* //nav */

.contentsBox{
    padding-left: 15px;
    padding-right: 15px;
    height: 95%;
}

/* aside */
.aside > div:first-child{
    background-color: #555;
    box-sizing: border-box;
}
.aside > div:last-child{
    height: 100%;
    background-color: #555;
}

.photoDiv > div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.photoSubDiv{
    text-align: center;
}

.photoSubDiv > p{
    margin: 0;
    color: white;
}

.iconBorder{
    position: relative;
}

.photoDiv > div > img{
    width: 80px;
    height: 80px;
}

.btnDiv{
    text-align: center;
}

.btnDiv button{
    margin: 10px;
}

#ulDiv ul{
    margin-top: 20px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

#ulDiv li{
    height: 40px;
    line-height: 40px;
    margin-bottom: 3px;
    width: 100%;
    display: inline-block;
}

#ulDiv li:last-child{
    margin-bottom: 0;
}

#ulDiv li:hover{
    cursor: pointer;
}

#ulDiv li:nth-child(2) a{
    color: red;
}

#ulDiv a{
    text-decoration: none;
    color: black;
}
/* //aside */


/* section - article2 */
.section > div{   /* row */
    height: 100%;
    padding: 5px;
} 

.article1{
    height: 100%;
}

.article1 > div{/* row */
    height: 100%;
    border:1px solid black;
    /* margin-top: 22px; */
}

.article2{
    height: 100%;
}

.article2 > div{/* row */
    height: 30%;
    margin-top: 22px;
    border-left: 1px solid black;
}

.infoDiv{
    margin: 5px;
}

.infoDiv div{
    text-align: center;
}

.snsDiv div{
    height: 50%;
}

.snsDiv div a{
    color: white;
}

.snsDiv div div{
    border: 1px solid #555;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 30%;
    height: 85%;
    text-align: center;
    line-height: 120px;
    margin: auto;
    font-size: 90PX;
}

.calendarDiv{
    margin: 5px;
}

.calendarDiv > div:first-child > span{
    margin: 0 auto;
    height: 2.4em;
    line-height: 2.4em;
    cursor: pointer;
}

.calendarDiv > div:first-child{
    margin-top: 10px;
}

.calendarDiv > div:last-child{
    height: 80%;
}

.calendarDiv table{
    width: 90%;
    text-align: center;
    margin: auto;
}

.bx-wrapper{
    margin-bottom: 0;
}

.weatherBox div{
    height: 50px;
    line-height: 50px;
}

#textJapan{
    margin-top: 10px;
    font-size: 50px;
}

#timeText{
    margin-top: 10px;
    font-size: 50px;
}
/* //section - article2 */