@media (min-width: 481px) and (max-width: 767px) {


    
    }


html,body{ margin:0; padding:0; height:100%; width:100%; cursor: default; font-family: 'Do Hyeon', sans-serif;}
#mainContainer{
    /* border: 3px solid rebeccapurple; */
    height: 100%;

}

nav img{
    width: 40px;
    height: 40px;
}

.navbar-brand{
    padding: 0;
    margin-left: 10px;

}

.mainNav{
    padding: 0;
    /* border: 2px solid red; */
    box-sizing: border-box;
    height: 5%;
}



.mainNav i{
    color: red;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    /* border: 1px solid red; */
    
}


 #titleSpan{
    /* position: absolute; */
    color: red;
    /* left: 80px; */
    margin-right: 10px;
}



.mainNav form{
    margin-right: 10px;
}

.input-group-prepend span{
    cursor: pointer;
}

.aside{
    /* height: 90%; */
    /* margin-left: 15px; */
    /* border: 1px solid black; */
    /* margin-right: 15px; */
    
}

#wrap{
    overflow: hidden;
    height: 100%;
}

.section{
    /* height: 500px; */
    border: 1px solid green;
    background-color: yellow;
    /* margin-right: 15px; */
}

.aside > div:first-child{
    /* height: 20%; */
    background-color: darkslategrey;
    /* border: 2px solid red; */
    box-sizing: border-box;
}
.aside > div:last-child{
    height: 100%;
    background-color: darkslategrey;
}

.contentsBox{
    padding-left: 15px;
    padding-right: 15px;
    height: 95%;
}

.photoDiv > div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.photoSubDiv{
    text-align: center;
}

.photoSubDiv > p{
    margin: 0;
}

.iconBorder{
    position: relative;
}

#alarm{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellow;
    top: -10px;
    right: 5px;
}

.photoDiv > div > img{
    /* margin-top: 5px; */
    width: 80px;
    height: 80px;
}

.btnDiv{
    text-align: center;
    /* padding: 10px; */
}

.btnDiv button{
    margin: 10px;
}

#ulDiv ul{
    margin-top: 20px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

#ulDiv i{
    /* border: 1px solid black;
    font-size: 40px; */
    
}

#ulDiv div{
    /* display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding-top: 5px; */
}

#ulDiv li{
    /* border-bottom: 1px solid black; */
    height: 40px;
    line-height: 40px;
    margin-bottom: 3px;
    width: 100%;
    display: inline-block;
    /* font-size: 30px; */
}

#ulDiv li:last-child{
    margin-bottom: 0;
}

#ulDiv li:hover{

    cursor: pointer;
}

#ulDiv li:nth-child(1) a{
    color: red;
}

#ulDiv a{
    text-decoration: none;
    color: black;
}



 .section > div{   /* row */

    height: 100%;
    padding: 5px;
    /* border: 3px solid peru; */
    margin-left: 15px;
    margin-right: 15px; 
    
} 

.article1{
    border: 1px solid red;
    height: 100%;
}

.article1 > div{/* row */
    height: 30%;
    border: 1px solid peru;
    margin-top: 22px;
}

.article2{
    /* border: 3px solid peru; */
    height: 100%;
    border: 1px solid black;
}

.article2 > div{/* row */
    height: 30%;
    border: 1px solid peru;
    margin-top: 22px;
   
}

.graphDiv{
    border: 1px solid rebeccapurple;
    margin: 5px;
}

.graphDiv div{
    border: 1px solid black;
}

.graphDiv div:last-child{
    height: 70%;
}

.countBox{
    margin: 5px;
    /* border: 1px solid #333; */
}

.countBox div{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 70px;
}

/* .subCountBox{
    border: 1px solid black;
} */

#datatable{
    display: none;
}

.graphBox{
    border: 1px solid black;
    margin: 5px ;
}

.graphDiv div:first-child{
    text-align: center;

}

.highcharts-button, .highcharts-credits{
    display: none;
}

.highcharts-data-labels {
    display: none;
}

/* .highcharts-label{
    visibility: hidden;
}

.highcharts-label > span{
    border: 3px solid red;
    visibility: show;
} */

/* .highcharts-data-labels > div>span{
    display: block;
} */

#chart1, #chart2, #chart3{
    padding-left: 4px;
   /* border: none; */
}

#chart4{
    padding-left: 25px;
}

.infoDiv{
    /* position: relative; */
    border: 1px solid blue;
    margin: 5px;
    /* overflow: hidden; */
    
    /* padding-right: 0;
    padding-left: 0; */
   
}

.infoDiv div{
    text-align: center;
}

.snsDiv{
    margin: 5px;
    border: 1px solid green;
    /* padding-left: 0;
    padding-right: 0; */
    
}

.snsDiv div{
    height: 50%;
    /* margin-top: 6px; */
}

.snsDiv div div{
    border: 1px solid hotpink;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 120px;
    margin: auto;
    
}

.calendarDiv{
    margin: 5px;
    border: 1px solid hotpink;
}

.calendarDiv > div:first-child > span{
    border: 1px solid red;
    margin: 0 auto;
    height: 2.4em;
    line-height: 2.4em;
}

.calendarDiv > div:first-child{
    margin-top: 10px;
}

.calendarDiv > div:last-child{
    height: 80%;
}

.calendarDiv table{
    width: 90%;
    text-align: center;
    margin: auto;
}

.weatherBox{
    
    /* width: 150px; */
    /* height: 150px; */
    /* overflow: hidden; */

}

.bx-wrapper{
    margin-bottom: 0;
}

.weatherBox div{
    height: 50px;
    line-height: 50px;
}

#textJapan{
    margin-top: 10px;
    font-size: 50px;
}

#timeText{
    margin-top: 10px;
    font-size: 50px;
}

/* #weatherBox div{
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    float: left;
    margin-left: -100px;
    
} */



#testDiv22{
    border: 1px solid red;
    width: 200px;
    height: 80px;
    position: relative;
    overflow: hidden;
}

#testDiv22 div{
    position: absolute;
    border: 1px solid blue;
    width:100%;
    height: 100%;
    float: left;
}

#testDiv22 .show{
    display:block;
}

#testDiv22 .move{
    display:block;
}

#testDiv22 .none{
    display:none;
}

/* .snsDiv div{
    display: inline-block;
    border: 1px solid hotpink;
    width: 45%;
    height: 45%;
    margin-top: 8px;
    margin-left: 4px;
} */

/* #next, #prev{
    border: 1px solid red;
    position: absolute;
    height: 100%;
}

#prev{
    left: 0;
}

#next{
    right: 0;
} */









 /* .article1{
    height: 100%;
    padding: 5px;
    border: 1px solid red;
     margin-left: 15px;
    margin-right: 15px; 
  
}  */



 /* .article2{
    border: 1px solid blue;
    height: 100%;
    padding: 5px;
    
}  */

/* .section > div > div >div{ /*박스각각을 의미 
    width: 100%;
    height: 30%;
    margin-top:25px ;
    
}

.detail1{
    border: 1px solid red;
    height: 100%;
}

.detail2{
    border: 1px solid red;
    height: 100%; 
}

.detail3{
    border: 1px solid red;
}
.detail4{
    border: 1px solid red;
}

.article2{
    padding: 0;
    /* margin-left: 5px; 
}

.article2 div{
    border: 1px solid black;
} */

