/* @media (min-width: 481px) and (max-width: 767px) {


    
    } */


html,body{ margin:0; padding:0; height:100%; width:100%; cursor: default; font-family: 'Do Hyeon', sans-serif;}

.container-fuild{
    max-width: none!important;
    /* width: 100%; */
    overflow: hidden;
    height: 100%;
}

nav img{
    width: 40px;
    height: 40px;
}

.navbar-brand{
    padding: 0;
    margin-left: 10px;
}

.mainNav{
    padding: 0;
    box-sizing: border-box;
    height: 46px;
}



.mainNav i{
    color: red;
    font-size: 25px;
    margin: 5px;
    padding: 5px; 
}


 #titleSpan{
    color: red;
    margin-right: 10px;
}



.mainNav form{
    margin-right: 10px;
}


.aside > div:first-child{
    background-color: #555;
    box-sizing: border-box;
}
.aside > div:last-child{
    height: 100%;
    background-color: #555;
}

.contentsBox{
    padding-left: 15px;
    padding-right: 15px;
    height: 95%;
}

.photoDiv > div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.photoSubDiv{
    text-align: center;
}

.photoSubDiv > p{
    margin: 0;
    color: white;
    font-weight: bold;
}

.iconBorder{
    position: relative;
}

#alarm{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellow;
    top: -10px;
    right: 5px;
}

.photoDiv > div > img{
    width: 80px;
    height: 80px;
}

.btnDiv{
    text-align: center;
}

.btnDiv button{
    margin: 10px;
}

#ulDiv ul{
    margin-top: 20px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

#ulDiv li{
    height: 40px;
    line-height: 40px;
    margin-bottom: 3px;
    width: 100%;
    display: inline-block;
}

#ulDiv li:last-child{
    margin-bottom: 0;
}

#ulDiv li:hover{
    cursor: pointer;
}

#ulDiv li a{
    color: black;
}

#ulDiv li:nth-child(1) a{
    color: white;
}

#ulDiv a{
    text-decoration: none;
    color: black;
}

 .section > div{   /* row */
    height: 100%;
    padding: 5px;
} 

.article1{
    height: 100%;
}

.article1 > div{/* row */
    height: 30%;
    border-right:1px solid black;
    margin-top: 22px;
}

.article2{
    height: 100%;
}

.article2 > div{/* row */
    height: 30%;
    margin-top: 22px;
}

.graphDiv{
    margin: 5px;
}


.graphDiv div:last-child{
    height: 70%;
}

.countBox{
    margin: 5px;
}

.countBox div{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 70px;
}

#datatable{
    display: none;
}

.graphBox{
    height: 100%;
}

.graphDiv div:first-child{
    text-align: center;
}

.highcharts-button, .highcharts-credits{
    display: none;
}

.highcharts-data-labels {
    display: none;
}

#chart1, #chart2, #chart3{
    padding-left: 4px;
}

#chart4{
    padding-left: 25px;
}

.infoDiv{
    margin: 5px;
}

.infoDiv div{
    text-align: center;
}

.snsDiv div{
    height: 50%;
}

.snsDiv div a{
    color: white;
}

.snsDiv div div{
    border: 1px solid #555;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 30%;
    height: 85%;
    text-align: center;
    line-height: 120px;
    margin: auto;
    font-size: 90PX;
}

.calendarDiv{
    margin: 5px;
}

.calendarDiv > div:first-child > span{
    margin: 0 auto;
    height: 2.4em;
    line-height: 2.4em;
    cursor: pointer;
}

.calendarDiv > div:first-child{
    margin-top: 10px;
}

.calendarDiv > div:last-child{
    height: 80%;
}

.calendarDiv table{
    width: 90%;
    text-align: center;
    margin: auto;
}

.bx-wrapper{
    margin-bottom: 0;
}

.weatherBox div{
    height: 50px;
    line-height: 50px;
}

#textJapan{
    margin-top: 10px;
    font-size: 50px;
}

#timeText{
    margin-top: 10px;
    font-size: 50px;
}

